In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from installFunctions import *
import pandas as pd
import numpy as np

In [3]:
from datetime import date

In [4]:
import holidays

In [15]:
df = pd.json_normalize({
                    "0": 2149.9490193973884,
                    "1": 564.98581487886,
                    "2": 523.1814058539516,
                    "3": 437.11255238527644,
                    "4": 435.2049838676448,
                    "5": 378.59894994276414,
                    "6": 343.45782173841917,
                    "7": 287.5634090841976,
                    "8": 247.0057243873266,
                    "9": 197.01631917212785,
                    "10": 142.25775514488254,
                    "11": 93.05447691582715
                })
df.sum(axis=1)

0    20000.0
dtype: float64

In [14]:
df = pd.json_normalize({
                    "0": 0.0,
                    "1": 1584.9632045185285,
                    "2": 1626.7676135434367,
                    "3": 1712.8364670121118,
                    "4": 1714.7440355297435,
                    "5": 1771.3500694546242,
                    "6": 1806.4911976589692,
                    "7": 1862.3856103131907,
                    "8": 1902.9432950100618,
                    "9": 1952.9327002252605,
                    "10": 2007.6912642525058,
                    "11": 2056.894542481561
                })
df.sum(axis=1)

0    20000.0
dtype: float64

In [10]:
df = pd.json_normalize({
                    "0": 2580.0740471448157,
                    "1": 525.8835396290939,
                    "2": 484.0791306041854,
                    "3": 398.0102771355103,
                    "4": 396.10270861787865,
                    "5": 339.496674692998,
                    "6": 304.35554648865303,
                    "7": 248.46113383443148,
                    "8": 207.9034491375605,
                    "9": 157.9140439223617,
                    "10": 103.15547989511643,
                    "11": 53.95220166606103
                })
df.sum(axis=1)

0    5799.388233
dtype: float64

In [5]:
gyra_fees = pd.read_csv('./install_csv/gyra_fees.csv')

In [6]:
import requests

In [7]:
import werkzeug

In [79]:
rPaymentDate = datetime.datetime.strptime('20-12-2020', '%d-%m-%Y')
rDisbursementDate = datetime.datetime.strptime('29-10-2020', '%d-%m-%Y')
period = 24

In [9]:
days_each_month, installDates, payDay = returnDaysEachMonth(period, rPaymentDate, rDisbursementDate)

In [10]:
days_each_month

[52,
 31,
 31,
 28,
 31,
 30,
 31,
 30,
 31,
 31,
 30,
 31,
 30,
 31,
 31,
 28,
 31,
 30,
 31,
 30,
 31,
 31,
 30,
 31]

In [11]:
installments = pd.DataFrame(amortization_schedule(16800.0, 0.0379, period, rPaymentDate, rDisbursementDate))

In [12]:
installments

,installDates,payDayDates,number,amortization_amount,interest,principal,balance
0,2020-12-20,2020-12-21,1,1113.426112,1118.933969,-5.507857,16805.507857
1,2021-01-20,2021-01-20,2,1113.426112,658.570459,454.855653,16350.652205
2,2021-02-20,2021-02-22,3,1113.426112,640.745678,472.680434,15877.971771
3,2021-03-20,2021-03-22,4,1113.426112,560.956607,552.469505,15325.502266
4,2021-04-20,2021-04-20,5,1113.426112,600.572333,512.853779,14812.648487
5,2021-05-20,2021-05-20,6,1113.426112,561.399378,552.026734,14260.621753
6,2021-06-20,2021-06-21,7,1113.426112,558.842035,554.584077,13706.037676
7,2021-07-20,2021-07-20,8,1113.426112,519.458828,593.967284,13112.070392
8,2021-08-20,2021-08-20,9,1113.426112,513.832863,599.593249,12512.477143
9,2021-09-20,2021-09-20,10,1113.426112,490.336138,623.089974,11889.387169
10,2021-10-20,2021-10-20,11,1113.426112,450.607774,662.818338,11226.568831
11,2021-11-20,2021-11-22,12,1113.426112,439.944252,673.481860,10553.086971
12,2021-12-20,2021-12-20,13,1113.426112,399.961996,713.464116,9839.622856
13,2022-01-20,2022-01-20,14,1113.426112,385.592926,727.833186,9111.789669
14,2022-02-20,2022-02-21,15,1113.426112,357.070763,756.355349,8355.434320
15,2022-03-20,2022-03-21,16,1113.426112,295.191108,818.235003,7537.199316
16,2022-04-20,2022-04-20,17,1113.426112,295.366070,818.060042,6719.139275
17,2022-05-20,2022-05-20,18,1113.426112,254.655379,858.770733,5860.368541
18,2022-06-20,2022-06-20,19,1113.426112,229.654803,883.771309,4976.597233
19,2022-07-20,2022-07-20,20,1113.426112,188.613035,924.813077,4051.784156
20,2022-08-20,2022-08-22,21,1113.426112,158.780405,954.645706,3097.138449
21,2022-09-20,2022-09-20,22,1113.426112,121.369964,992.056148,2105.082302
22,2022-10-20,2022-10-20,23,1113.426112,79.782619,1033.643493,1071.438809
23,2022-11-20,2022-11-21,24,1113.426112,41.987303,1071.438809,0.000000

In [75]:
initial_amount = 16000

array_irr = [ (i[1], i[0]) for i in installments[['amortization_amount','installDates']].values ]

addDay = datetime.date(rDisbursementDate.year, rDisbursementDate.month, rDisbursementDate.day)

array_irr.insert(0,(datetime.date(addDay.year, addDay.month, addDay.day),-initial_amount))

annualCet = np.round(xirr(array_irr),6)

cet = ((annualCet+1)**(30/365))-1

annualCet = ((1+cet)**12) - 1

annualCet,cet

(0.644437386263919, 0.042320897814650094)

In [48]:
days_each_month, installDates, payDay = returnDaysEachMonth(period, datetime.datetime.strptime('20-12-2020', '%d-%m-%Y'), datetime.datetime.strptime('20-11-2020', '%d-%m-%Y'))

In [84]:
calculate_amortization_schedule_with_taxes(16800, 16000, 0.0379, period=24, iof=False, rPaymentDate=rPaymentDate, rDisbursementDate=rDisbursementDate)

0.04292112688471161 0.655837
0.042320897814650094 0.644437386263919

({'installDates': {0: datetime.date(2020, 12, 20),
   1: datetime.date(2021, 1, 20),
   2: datetime.date(2021, 2, 20),
   3: datetime.date(2021, 3, 20),
   4: datetime.date(2021, 4, 20),
   5: datetime.date(2021, 5, 20),
   6: datetime.date(2021, 6, 20),
   7: datetime.date(2021, 7, 20),
   8: datetime.date(2021, 8, 20),
   9: datetime.date(2021, 9, 20),
   10: datetime.date(2021, 10, 20),
   11: datetime.date(2021, 11, 20),
   12: datetime.date(2021, 12, 20),
   13: datetime.date(2022, 1, 20),
   14: datetime.date(2022, 2, 20),
   15: datetime.date(2022, 3, 20),
   16: datetime.date(2022, 4, 20),
   17: datetime.date(2022, 5, 20),
   18: datetime.date(2022, 6, 20),
   19: datetime.date(2022, 7, 20),
   20: datetime.date(2022, 8, 20),
   21: datetime.date(2022, 9, 20),
   22: datetime.date(2022, 10, 20),
   23: datetime.date(2022, 11, 20)},
  'payDayDates': {0: datetime.date(2020, 12, 21),
   1: datetime.date(2021, 1, 20),
   2: datetime.date(2021, 2, 22),
   3: datetime.date(2021, 3, 22),
   4: datetime.date(2021, 4, 20),
   5: datetime.date(2021, 5, 20),
   6: datetime.date(2021, 6, 21),
   7: datetime.date(2021, 7, 20),
   8: datetime.date(2021, 8, 20),
   9: datetime.date(2021, 9, 20),
   10: datetime.date(2021, 10, 20),
   11: datetime.date(2021, 11, 22),
   12: datetime.date(2021, 12, 20),
   13: datetime.date(2022, 1, 20),
   14: datetime.date(2022, 2, 21),
   15: datetime.date(2022, 3, 21),
   16: datetime.date(2022, 4, 20),
   17: datetime.date(2022, 5, 20),
   18: datetime.date(2022, 6, 20),
   19: datetime.date(2022, 7, 20),
   20: datetime.date(2022, 8, 22),
   21: datetime.date(2022, 9, 20),
   22: datetime.date(2022, 10, 20),
   23: datetime.date(2022, 11, 21)},
  'number': {0: 1,
   1: 2,
   2: 3,
   3: 4,
   4: 5,
   5: 6,
   6: 7,
   7: 8,
   8: 9,
   9: 10,
   10: 11,
   11: 12,
   12: 13,
   13: 14,
   14: 15,
   15: 16,
   16: 17,
   17: 18,
   18: 19,
   19: 20,
   20: 21,
   21: 22,
   22: 23,
   23: 24},
  'amortization_amount': {0: 1113.4261119189464,
   1: 1113.4261119189464,
   2: 1113.4261119189464,
   3: 1113.4261119189464,
   4: 1113.4261119189464,
   5: 1113.4261119189464,
   6: 1113.4261119189464,
   7: 1113.4261119189464,
   8: 1113.4261119189464,
   9: 1113.4261119189464,
   10: 1113.4261119189464,
   11: 1113.4261119189464,
   12: 1113.4261119189464,
   13: 1113.4261119189464,
   14: 1113.4261119189464,
   15: 1113.4261119189464,
   16: 1113.4261119189464,
   17: 1113.4261119189464,
   18: 1113.4261119189464,
   19: 1113.4261119189464,
   20: 1113.4261119189464,
   21: 1113.4261119189464,
   22: 1113.4261119189464,
   23: 1113.4261119189464},
  'interest': {0: 1118.9339693004626,
   1: 658.5704590545172,
   2: 640.7456781164692,
   3: 560.9566070814193,
   4: 600.5723330786805,
   5: 561.3993776586959,
   6: 558.8420352321452,
   7: 519.4588279238027,
   8: 513.8328630446018,
   9: 490.33613777403974,
   10: 450.60777370795705,
   11: 439.9442522828629,
   12: 399.9619962095529,
   13: 385.592925597672,
   14: 357.0707625247972,
   15: 295.1911084369978,
   16: 295.36607021102395,
   17: 254.65537850785606,
   18: 229.6548032443538,
   19: 188.6130351128086,
   20: 158.78040545210163,
   21: 121.36996439446064,
   22: 79.7826192355844,
   23: 41.98730287184035},
  'principal': {0: -5.50785738151626,
   1: 454.8556528644292,
   2: 472.6804338024772,
   3: 552.4695048375271,
   4: 512.8537788402659,
   5: 552.0267342602505,
   6: 554.5840766868012,
   7: 593.9672839951437,
   8: 599.5932488743446,
   9: 623.0899741449066,
   10: 662.8183382109894,
   11: 673.4818596360835,
   12: 713.4641157093935,
   13: 727.8331863212744,
   14: 756.3553493941492,
   15: 818.2350034819485,
   16: 818.0600417079224,
   17: 858.7707334110903,
   18: 883.7713086745925,
   19: 924.8130768061378,
   20: 954.6457064668448,
   21: 992.0561475244857,
   22: 1033.643492683362,
   23: 1071.4388090471061},
  'balance': {0: 16805.507857381515,
   1: 16350.652204517086,
   2: 15877.971770714608,
   3: 15325.502265877081,
   4: 14812.648487036815,
   5: 14260.621752776564,
   6: 13706.037676089763,
   7: 13112.07039209462,
   8: 12512.477143220276,
   9: 11889.38716907537,
   10: 11226.56883086438,
   11: 10553.086971228297,
   12: 9839.622855518903,
   13: 9111.789669197628,
   14: 8355.434319803479,
   15: 7537.19931632153,
   16: 6719.139274613608,
   17: 5860.368541202518,
   18: 4976.597232527925,
   19: 4051.7841557217876,
   20: 3097.1384492549428,
   21: 2105.082301730457,
   22: 1071.438809047095,
   23: 0.0}},
 0.042320897814650094,
 0.644437386263919,
 0)

# IRR

In [271]:
initial_amount = 65000
array_irr = list(installments['amortization_amount'].values)
array_irr.insert(0,-initial_amount)

cet = np.irr(array_irr)
annualCet = (1+cet)**12-1

'cet ' + str(np.round(cet*100,4))+'%','Annual Cet ' + str(np.round(annualCet*100,4))+'%'

('cet 4.7253%', 'Annual Cet 74.0274%')

# XIRR

In [272]:
def xirr(transactions):
    years = [(ta[0] - transactions[0][0]).days / 365.0 for ta in transactions]
    residual = 1
    step = 0.05
    guess = 0.05
    epsilon = 0.0001
    limit = 10000
    while abs(residual) > epsilon and limit > 0:
        limit -= 1
        residual = 0.0
        for i, ta in enumerate(transactions):
            residual += ta[1] / pow(guess, years[i])
        if abs(residual) > epsilon:
            if residual > 0:
                guess += step
            else:
                guess -= step
                step /= 2.0
    return guess-1

In [273]:
array_irr = [ (i[1], i[0]) for i in installments[['amortization_amount','installDates']].values ]

In [274]:
array_irr.insert(0,(datetime.date(rDisbursementDate.year, rDisbursementDate.month, rDisbursementDate.day+1),-65000))

In [275]:
'Annual Cet ' + str(np.round(xirr(array_irr)*100,4))+'%'

'Annual Cet 68.2616%'

In [276]:
def xirr(df, guess=0.05, date_column='date', amount_column='amount'):
    '''Calculates XIRR from a series of cashflows. 
       Needs a dataframe with columns date and amount, customisable through parameters. 
       Requires Pandas, NumPy libraries'''

    df = df.sort_values(by=date_column).reset_index(drop=True)

    amounts = df[amount_column].values
    dates = df[date_column].values

    years = np.array(dates-dates[0], dtype='timedelta64[D]').astype(int)/365

    step = 0.05
    epsilon = 0.0001
    limit = 1000
    residual = 1

    #Test for direction of cashflows
    disc_val_1 = np.sum(amounts/((1+guess)**years))
    disc_val_2 = np.sum(amounts/((1.05+guess)**years))
    mul = 1 if disc_val_2 < disc_val_1 else -1

    #Calculate XIRR    
    for i in range(limit):
        prev_residual = residual
        residual = np.sum(amounts/((1+guess)**years))
        if abs(residual) > epsilon:
            if np.sign(residual) != np.sign(prev_residual):
                step /= 2
            guess = guess + step * np.sign(residual) * mul   
        else:
            return guess

In [277]:
'Annual Cet ' + str(np.round(xirr(pd.DataFrame(array_irr),0.04,0,1)*100,4))+'%'

'Annual Cet 68.2616%'

In [236]:
from scipy import optimize

In [237]:
def xnpv(rate, values, dates):
    '''Equivalent of Excel's XNPV function.

    >>> from datetime import date
    >>> dates = [date(2010, 12, 29), date(2012, 1, 25), date(2012, 3, 8)]
    >>> values = [-10000, 20, 10100]
    >>> xnpv(0.1, values, dates)
    -966.4345...
    '''
    if rate <= -1.0:
        return float('inf')
    d0 = dates[0]    # or min(dates)
    return sum([ vi / (1.0 + rate)**((di - d0).days / 365.0) for vi, di in zip(values, dates)])

def xirr(values, dates):
    '''Equivalent of Excel's XIRR function.

    >>> from datetime import date
    >>> dates = [date(2010, 12, 29), date(2012, 1, 25), date(2012, 3, 8)]
    >>> values = [-10000, 20, 10100]
    >>> xirr(values, dates)
    0.0100612...
    '''
    try:
        return scipy.optimize.newton(lambda r: xnpv(r, values, dates), 0.0)
    except RuntimeError:    # Failed to converge?
        return scipy.optimize.brentq(lambda r: xnpv(r, values, dates), -1.0, 1e10)

In [238]:
values = [ i[0] for i in installments[['amortization_amount','installDates']].values ]
dates = [ i[1] for i in installments[['amortization_amount','installDates']].values ]
values.insert(0,-65000)
dates.insert(0,datetime.date(rDisbursementDate.year, rDisbursementDate.month, rDisbursementDate.day))

In [239]:
xirr(values, dates)

0.6826159706073737

In [2]:
((0.740273849822884+1)**(1/12))-1

0.04725264567610643